<mat-accordion>
  <mat-expansion-panel class="header">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chat Settings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="api-key-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter API Key</mat-label>
        <input matInput [(ngModel)]="apiKey" (blur)="setApiKey()">
      </mat-form-field>
    </div>

    <div class="model-select-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a Model</mat-label>
        <mat-select [(value)]="modelName" (selectionChange)="setModelName()">
          <mat-option *ngFor="let model of models" [value]="model.id">{{ model.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="openModelDetails()">Model Details</button>

      <div class="usage-info-container">
        <mat-checkbox [(ngModel)]="showUsageInfo" (change)="toggleUsageVisibility()">Show Usage Information</mat-checkbox>
      </div>
    </div>

    
  </mat-expansion-panel>
</mat-accordion>


<div class="chat-container">
  <div class="chat-window">
    <div *ngFor="let message of messages" [ngClass]="{'user': message.role === 'user', 'assistant': message.role === 'assistant', 'message': true}">
      <div markdown [data]="message.content"></div>
    </div>
  </div>
  
  <mat-form-field appearance="fill">
    <mat-label>Type your message</mat-label>
    <input matInput [(ngModel)]="userMessage" (keyup.enter)="sendMessage()">
  </mat-form-field>
  <div *ngIf="showUsageInfo">
    <p style="color: white;">Total Tokens Used: {{ totalTokensUsed }} | Total Cost: ${{ totalCost }}</p>
  </div>
  <button mat-raised-button color="accent" (click)="resetChat()">Reset Chat</button>
</div>


